<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/principal :: head}"></head>
<!--<script th:replace="~{plantillas/autocompletalibro :: script}"></script> Fue una idea de busqueda de libros que el usuario tenia prestados,
pero al solo tner un maximo de 5 me parecio obsoleta dejarlo-->

<body>
<header th:replace="~{plantillas/principal :: header}"></header>
<div class="container py-4 cw-60">
    <div class="card bg-light">
        <div class="card-header">
            <h3 class="text-secondary" th:text="${titulo}"></h3>
        </div>
        <div class="card-body">
            <h4 class="card-title text-end">
                <a th:href="@{/libreria/usuarioslistar}" class="btn btn-sm btn-light">&laquo; regresar a usuarios</a>
            </h4>
            
            <!-- Datos del Usuario -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Identificación</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${usuario.identificacion}" class="form-control" disabled="disabled"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre Completo</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${usuario.nombreCompleto}" class="form-control" disabled="disabled"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Teléfono Móvil</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${usuario.telefonoMovil}" class="form-control" disabled="disabled"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Correo Electrónico</label>
                <div class="col-sm-9">
                    <input type="email" th:value="${usuario.correoElectronico}" class="form-control" disabled="disabled"/>
                </div>
            </div>
            <!--
            <input type="hidden" id="usuario_id" th:value="${usuario.id}"/>
            <input type="text" id="buscar_libro" class="form-control" placeholder="Buscar libro...">
            <div id="sugerencias" class="sugerencias-list" style="display:none"></div>
            Esto tambien era de la busqueda de libros que el usuario tenia prestados
            -->


            <!-- Libros Prestados -->
            <h5 class="mt-4 text-secondary">Libros Prestados</h5>
            <table class="table table-striped table-sm table-hover table-bordered mt-2">
                <thead>
                    <tr>
                        <th class="text-secondary">Título</th>
                        <th class="text-secondary">Autor</th>
                        <th class="text-secondary">Fecha Préstamo</th>
                        <th class="text-secondary">Fecha Devolución</th>
                        <th class="text-secondary">Dias restantes</th>
                    </tr>
                </thead>
                <tbody id="tabla-libros">
                    <tr th:each="pres : ${prestamos}">
                        <td th:text="${pres.libro.titulo}"></td>
                        <td th:text="${pres.libro.autor}"></td>
                        <td th:text="${pres.fechaPrestamo}"></td>
                        <td th:text="${pres.fechaDevolucion}"></td>
                        <td th:text="${pres.diasRestantes}"></td>

                    </tr>
                    <tr th:if="${#lists.isEmpty(prestamos)}">
                        <td colspan="5" class="text-center text-muted">El usuario no tiene libros prestados</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="~{plantillas/principal :: footer}"></footer>
</body>
</html>
